#container-muestra-color-barra-navegacion{
    border: 1px solid grey;
    width: 100px;
    height: 100px;

}


#container-muestra-color-body{
    border: 1px solid grey;
    width: 100px;
    height: 100px;
}